<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <% if (isLoggedIn) {%>
        <p class="logged">Logged in as <%= currentUser.name %></p>
            <% } %>
            <h1 class="title">Find Your Game</h1>
        <nav>
            <a href="/" class="navbar">HOME</a>
            <a href="/about" class="navbar">ABOUT US</a>
            <% if (isLoggedIn) { %>
            <a href="/profile/<%= currentUser.id %>">PROFILE</a>   
            <a href="/new" class="navbar">HOST YOUR OWN GAME</a>
            <form action="/session/?_method=delete" method="post">            
                <button class="navbar">LOGOUT</button>
            </form>
            <% } else { %>
                <a href="/login" class="navbar">LOGIN</a>
                <% } %>

        </nav>
    </header>
    

    <%- body %>
</body>
</html>