<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <% if (isLoggedIn) {%>
    <p class="logged">Logged in as <%= currentUser.name %></p>
        <% } %>
    <nav>
        <a href="/" class="navbar">HOME</a>
        <a href="/about" class="navbar">ABOUT US</a>
        <% if (isLoggedIn) { %>
        <a href="/new" class="navbar">HOST YOUR OWN GAME</a>
        <form action="/session/?_method=delete" method="post">            
            <button class="navbar">LOGOUT</button>
        </form>
        <% } else { %>
            <a href="/login" class="navbar">LOGIN</a>
            <% } %>

    </nav>

    <h1 class="title">Find Your Game</h1>

    <%- body %>
</body>
</html>