<form action="/login" method="post">
<label for="">email</label>
<textarea name="email" id=""></textarea>

<label for="">password</label>
<textarea name="password" id=""></textarea>

<button>LOGIN</button>
</form>