<div class ="wrapper-id" id="login-temp">
    <form action="/login" method="post">
        <label for="">Email</label>
        <input type="email" name="email">
    
        <label for="">password</label>
        <input type="password" name="password" placeholder="password">

        <button>LOGIN</button>
    </form>

    <h3>Dont have an account? <a href="/signup">Signup</a> now!</h3>
</div>